.toggle-button {
    position: absolute;
    top: 88%;
    left: -80%;
    cursor: pointer;
    font-size: 24px;
    color: white; // Color for the sun icon
    margin-left: 95%;


    .fa-moon {
        color: black;
    }
}
